body{ 
    text-align: center;
    font-family: 'Merriweather', serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.topContainer{
    background-color: #F2F2F2;
    padding-top: 100px;
    position: relative;
}

#cloud{
    right: 300px;
    top: 50px;
    position: absolute;
}

#bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.myname{
    font-family: 'Sacramento', cursive;
}